.category-menu {
  padding: 10px 0;
}

.category-menu__item {
  /*padding: 10px 0;*/
}

.category-menu__header {
  font-size: 1em;
  font-weight: normal;
}

.category-menu__link {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 20px;
  text-decoration: none;
  color: initial;
}

.category-menu__link-total {
  font-size: 0.7em;
}