.link-window {
	padding: 15px 10px 10px 10px;
	border-radius: 5px;
}

.link-window__close-btn {
	position: absolute;
	top: -30px;
	right: -20px;
	padding: 5px;
	border-radius: 3px;
	font-size: 0.8em;
	cursor: pointer;
}

.link-window__form {
	display: flex;
	flex-direction: column;
}

.link-window__form-item {
	display: flex;
	margin: 5px 5px;
	align-items: center;
}

.link-window__form-item_last {
	margin-top: 10px;
	margin-left: auto;
}

.link-window__form-input {
	flex: 1;
	padding: 5px;
	border-width: 1px;
	border-radius: 5px;
	font-family: inherit;
}

.link-window__form-select {
	position: relative;
	width: 100%;
	padding: 5px 20px 5px 5px;
	border-width: 1px;
	border-radius: 5px;
	appearance: none;
	font-family: inherit;
	cursor: pointer;
	background: transparent;
	z-index: 1;
}

.link-window__select-arrow {
	position: relative;
	border-radius: 5px;
	color: black;
	background: #FAFAFA;
}

.link-window__select-arrow > span {
	display: flex;
	align-items: center;
	height: 100%;
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 0.8em;
	color: gray;
}

.link-window__select-arrow > input {
	width: 100%;
}

.link-window__form-item-name {
	display: inline-block;
	width: 90px;
	padding-right: 5px;
	font-size: 0.9em;
}

.link-window__btn_hide {
	display: none;
}