.link-list {}

.link-list-item {
  padding: 0 10px 0 20px;
}

.link-list-item:hover {
  background: #eee;
}

.link-list-item.current {
  background: #eee;
}

.link-list-item.highlight {
  background: #C1E1C1;
}

.link-list h3 {
  display: flex;
  padding: 3px;
  align-items: center;
  font-size: 1em;
  font-weight: normal;
}

.link-topic {
  padding: 10px 0;
}

.link-type {
  flex-basis: 70px;
  flex-shrink: 0;
  font-style: italic;;
  font-size: 0.8em;
  color: gray;
}

.link-controls {
  display: flex;
  margin-left: auto;
}

.link-btn {
  padding: 3px;
  border-radius: 3px;
  background: lightgray;
  font-size: 1.3em;
  cursor: pointer;
}

.link-btn:hover {
  background: gray;
  color: white;
}

.remove-btn {
  margin-left: 5px;
}

.visibility {
  visibility: hidden;
}

@media screen and (max-width: 650px) {
  .sm {
    display: none;
  }
}