.link-list {}

.link-list__item {
  padding: 0 10px 0 20px;
}

.link-list__item-content {
  display: flex;
  padding: 3px;
  align-items: center;
  font-size: 1em;
  font-weight: normal;
}

.link-list__item-type {
  flex-basis: 70px;
  flex-shrink: 0;
  font-style: italic;;
  font-size: 0.8em;
}

.link-list__item-description {
  padding: 10px 0;
  color: black;
  text-decoration: none;
}

.link-list__item-description:hover {
  text-decoration: underline;
}

/* controls element */
.link-list__item-controls {
  display: flex;
  margin-left: auto;
}

.link-list__item-controls_hidden {
  visibility: hidden;
}

.link-list__item-button {
  padding: 3px;
  border-radius: 3px;
  font-size: 1.3em;
  cursor: pointer;
}

.link-list__item-button_edit {}

.link-list__item-button_close {
  margin-left: 5px;
}