@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.page {
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Lora", "Poppins", "Times New Roman", "Georgia", serif;
	font-size: 16px;
}

@media screen and (max-width: 650px) {
	.page_adaptive {
		flex-wrap: wrap;
	}
}

/* settings panel element */
.page__settings-panel {
	position: absolute;
	top: 10px;
	right: 20px;
}

@media screen and (max-width: 650px) {
  .page__settings-panel_adaptive {
  	display: none;
	}
}

/* settings window element */
.page__settings-window {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.page__settings-window_hidden {
	display: none;
}

/* menu panel element */
.page__menu-panel {
	flex-basis: 250px;
	overflow: auto;
}

@media screen and (max-width: 650px) {
	.page__menu-panel_adaptive {
		position: fixed;
		width: 100%;
		top: 0;
		overflow: unset;
	}
}

/* content element */
.page__content {
	flex-basis: 450px;
	flex-grow: 1;
	flex-shrink: 0;
	overflow: auto;
}

.page__content_hidden {
	display: none;
}

@media screen and (max-width: 650px) {
	.page__content_adaptive {
		flex-basis: 300px;
		margin-top: 30px;
		overflow: unset;
	}
}

/* category menu opener */
@media screen and (max-width: 650px) {
	.page__menu-opener_adaptive {
		display: block;
	}
}

.page__menu-opener_hidden {
	display: none;
}

/* category menu wrapper */
@media screen and (max-width: 650px) {
	.page__menu-wrapper_adaptive {
		overflow: auto;
	}
}

/* category menu */
@media screen and (max-width: 650px) {
	.page__category-menu_adaptive {
		display: none;
		height: 100vh;
		padding: 0;
	}
}

.page__category-menu_visible {
	display: block;
}

/* link list controls */
@media screen and (max-width: 650px) {
	.page__link-list-controls_adaptive {
		display: none;
	}
}