@import './link-list.css';

* {
  box-sizing: border-box;
}

/* --- layout --- */
body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.menu-panel,
.content {
  overflow: auto;
}

.menu-panel {
  flex-basis: 250px;
}

.content {
  flex-basis: 450px;
  flex-grow: 1;
  flex-shrink: 0;
}

@media screen and (max-width: 650px) {
  body {
    flex-wrap: wrap;
  }

  .menu-panel {
    flex-grow: 1;
  }

  .menu-panel,
  .content {
    overflow: unset;
  }

  .category-menu-wrapper {
    overflow: auto;
  }

  .content {
    flex-basis: 300px;
  }
}

/* --- menu for link category selection --- */
.category-menu {
  padding: 10px 0;
}

.category-menu li:hover {
  background: lightgray;
}

.category-menu h2 {
  font-size: 1em;
  font-weight: normal;
}

.category-menu a {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 20px;
  text-decoration: none;
  color: initial;
}

@media screen and (max-width: 650px) {
  .category-menu {
    height: 100vh;
    padding: 0;
  }

  .category-menu li:nth-child(even) {
    background: #eee;
  }

  .category-menu li:nth-child(odd) {
    background: lightgray;
  }
}

/* --- link category container --- */
.link-category {
  padding: 10px;
}

.link-category h2 {
  padding: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}


/* --- category menu opener --- */
.menu-opener {
  display: none;
  padding: 15px;
  text-align: center;
  font-size: 1em;
}

@media screen and (max-width: 650px) {
  .menu-panel {
    position: fixed;
    width: 100%;
    top: 0;
  }

  .menu-opener {
    display: block;
    background: white;
  }

  .category-menu {
    display: none;
    background: white;
  }

  .content {
    margin-top: 30px;
  }
}

/* open/close category menu */
.hide {
  display: none;
}

.show {
  display: block;
}

/* --- loading cover --- */
.loading-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgray;
  text-align: center;
  padding-top: 200px;
  z-index: 1000;
}

/* --- settings panel --- */
.settings-panel {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 650px) {
  .settings-panel {
    display: none;
  }
}

/* --- settings window --- */
.settings-window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(150, 150, 150, 0.2);
  z-index: 100;
}

/* --- link creator settings --- */
.link-creator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  background: lightgray;
}

.link-creator form {
  display: flex;
  flex-wrap: wrap;
}

.link-creator form div {
  display: flex;
  align-items: center;
  margin: 5px;
}

.link-creator form div:first-child,
.link-creator form div:first-child + div {
  flex-grow: 1;
}

.link-creator input {
  flex-grow: 1;
}

.link-creator span {
  padding-right: 5px;
  font-size: 0.9em;
}

.link-creator form div:last-child {
  margin-left: auto;
}

.link-creator form span {
  display: inline-block;
  width: 85px;
}

.link-creator form > div:nth-last-child(2) span {
  width: unset;
}


/* --- settings menu --- */
.link-creator-opener {
  display: block;
  padding: 5px;
  border-radius: 3px;
  background: lightgray;
  font-size: 1.3em;
  cursor: pointer;
}

.link-creator-opener:hover {
  background: gray;
  color: white;
}


/* --- close button --- */
.close-btn {
  position: absolute;
  top: -30px;
  right: -20px;
  font-size: 0.8em;
  cursor: pointer;
}