.theme {}

/* initial theme */
.theme__button_initial {
	background: lightgray;
}

.theme__button_initial:hover {
	background: gray;
	color: white;
}

.theme__link_initial:hover {
	background: #eee;
}

.theme__link_initial-selected {
	background: #eee;
}

.theme__link_initial-highlighted {
	background: #C1E1C1;
}