.theme {}

/* initial theme */
.theme__button_initial {
	background: lightgray;
}

.theme__button_initial:hover {
	background: gray;
	color: white;
}

.theme__link:hover {
	background: #eee;
}

.theme__link_selected {
	background: #eee;
}