.theme {}

.theme__menu-panel {
	background: white;
}

.theme__content {
	background: white;
}

/* initial theme */
.theme__button_initial {
	background: lightgray;
}

.theme__button_initial:hover {
	background: gray;
	color: white;
}

.theme__link_initial:hover {
	background: #eee;
}

.theme__link_initial-selected {
	background: #eee;
}

.theme__link_initial-highlighted {
	background: #C1E1C1;
}

.theme__color-initial_mute {
	color: gray;
}

.theme__category-menu-item_initial:hover {
	background: lightgray;
}

.theme__category-menu-item_initial-selected {
	background: lightgray;
}

@media screen and (max-width: 650px) {
	.theme__category-menu-item_initial-adaptive:nth-child(even) {
		background: #eee;
	}

	.theme__category-menu-item_initial-adaptive:nth-child(odd) {
		background: lightgray;
	}
}

@media screen and (max-width: 650px) {
	.theme__menu-opener_initial-adaptive {
		background: white;
	}
}

.theme__settings-window_initial {
	background: rgba(0, 0, 0, 0.4);
}

.theme__link-window_initial {
	background: lightgray;
}

.theme__link-window-close-btn_initial {
	background: lightgray;
}