* {
  box-sizing: border-box;
}

/* --- layout --- */
body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.menu-panel,
.content {
  overflow: auto;
}

.menu-panel {
  flex-basis: 250px;
}

.content {
  flex-basis: 450px;
  flex-grow: 1;
  flex-shrink: 0;
}

@media screen and (max-width: 650px) {
  body {
    flex-wrap: wrap;
  }

  .menu-panel {
    flex-grow: 1;
  }
}

/* --- menu for link category selection --- */
.category-menu h2 {
  font-size: 1em;
  font-weight: normal;
}

.category-menu a {
  text-decoration: none;
  color: initial;
}

/* --- link category container --- */
.link-category h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}


/* --- link list --- */
.link-list h3 {
  font-size: 1em;
  font-weight: normal;
}