body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}


.menu-panel,
.content {
  overflow: auto;
}

.menu-panel {
  flex: 1;
}

.content {
  flex: 3;
}


.category-menu h2 {
  font-size: 1em;
  font-weight: normal;
}

.category-menu a {
  text-decoration: none;
  color: initial;
}


.link-category h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}


.link-list h3 {
  font-size: 1em;
  font-weight: normal;
}